#root {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family:monospace;
  color: black;
  background-color: #fafafa;
}


body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 50px 50px;
}

@media(min-width:1150px){
  .cards{
    grid-template-columns: repeat(4,auto);
  }
}

@media(max-width:860px){
  .cards{
    grid-template-columns: repeat(2,auto);
  }
}


@media(max-width:570px){
  .cards{
    grid-template-columns: repeat(1,auto);
  }
}