nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 6px 1px #e4e4e4;
}

nav > h1{
  color: rgb(255, 115, 0);
}
.icon{
  vertical-align: middle;
}

h1 {
  font-size: 2rem;
}

p{
  font-size: 18px;
}